* {

    padding: 0px;
    margin: 0px;


}



.cabeçalho {

    font-size: 20px;

    background-color: black;
    height: 50px;
    text-align: center;
    padding-top: 08px;
    padding-bottom: 20px;
}

#paginaInicial {

    padding-right: 700px;


}


#controleDeEstoque {

    padding-right: 30px;



}

#addProdutos {


    padding-right: 10px;



}

#funcionarios {
    padding-left: 20px;
}

a {
    color: white;
    text-decoration: none;
}

table {
    padding-top: 200px;
    padding-left: 700px;
    display: block;
}

h2{

text-align: center;
padding-top: 20px;
font-size: 50px;
color: black;

}